<div class="box tabular">
  <h4><%= l(:show_description_characters_range_field) %></h4>
  <fieldset class="box tabular"><legend><%= l(:field_visible) %></legend>
    <label class="block">
      <%= radio_button_tag 'settings[show_description_characters_range_visible]', 1, settings['show_description_characters_range_visible'].to_b, :id => 'show_description_characters_range_visible_on', :data => {:disables => '.description_characters_range_role input'} %>
      <%= l(:label_visibility_public) %>
    </label>
    <label class="block">
      <%= radio_button_tag 'settings[show_description_characters_range_visible]', 0, !settings['show_description_characters_range_visible'].to_b, :id => 'show_description_characters_range_visible_off', :data => {:enables => '.description_characters_range_role input'} %>
      <%= l(:label_visibility_roles) %>:
    </label>
    <% role_ids = settings['show_description_characters_range_role_ids'] %>
    <% Role.givable.sorted.each do |role| %>
      <label class="block description_characters_range_role" style="padding-left:2em;">
        <%= check_box_tag 'settings[show_description_characters_range_role_ids][]', role.id, role_ids.nil? ? false : role_ids.include?(role.id.to_s) , :id => nil %>
        <%= role.name %>
      </label>
    <% end %>
    <%= hidden_field_tag 'settings[show_description_characters_range_role_ids][]', '' %>
  </fieldset>
  <fieldset class="box" id="show_description_characters_range_tracker_ids">
    <legend>
      <%= toggle_checkboxes_link("#show_description_characters_range_tracker_ids input[type=checkbox]") %>
      <%= l(:label_tracker_plural) %>
    </legend>
    <% tracker_ids = settings['show_description_characters_range_tracker_ids'] %>
    <% Tracker.sorted.each do |tracker| %>
    <label class="block" for="show_description_characters_range_tracker_ids_<%=tracker.id%>" style="padding-left:2em;">
      <%= check_box_tag 'settings[show_description_characters_range_tracker_ids][]', tracker.id, tracker_ids.nil? ? false : tracker_ids.include?(tracker.id.to_s), :id => 'show_description_characters_range_tracker_ids_#{tracker.id}' %>
      <%= tracker.name %>
    </label>
    <% end %>
    <%= hidden_field_tag 'settings[show_description_characters_range_tracker_ids][]', '' %>
  </fieldset>
</div>
